<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loggin>
            <console>
                <level>100</level>
                <is_enabled>0</is_enabled>
            </console>
            <file>
                <is_enabled>0</is_enabled>
                <max_files>3</max_files>
                <filename>logger.log</filename>
                <level>100</level>
            </file>
            <mail>
                <is_enabled>0</is_enabled>
                <level>500</level>
                <subject>Opengento Logger is talking</subject>
            </mail>
            <elasticsearch>
                <is_enabled>0</is_enabled>
                <level>100</level>
                <host/>
                <index/>
                <is_authentication_enabled>0</is_authentication_enabled>
                <username/>
                <password/>
                <ignore_error>1</ignore_error>
            </elasticsearch>
            <slack>
                <is_enabled>0</is_enabled>
                <level>500</level>
                <use_attachment>1</use_attachment>
                <bubble>1</bubble>
                <use_short_attachment>0</use_short_attachment>
                <include_content_and_extra>0</include_content_and_extra>
            </slack>
            <socket>
                <is_enabled>0</is_enabled>
                <level>500</level>
                <endpoint/>
            </socket>
        </loggin>
    </default>
</config>
